.screen-header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 21px;
  box-sizing: border-box;
  padding: 30px var(--horizontal-space) 20px;
  z-index: 1;
}

.screen-header__title {
  width: 50%;
  font-size: 29px;
  font-weight: 600;
}

.screen-header__icons {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.screen-header__icons span {
  margin-left: 25px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 1s linear infinite;
}
